.container {
  text-align: center;
  background-image: url(../../images/background.jpg);
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: absolute;
  color: white;
}

.main {
  display: inline-block;
  margin-top: 5%;
  width: 50%;
}

.left {
  float: left;
  width: 90px;
  padding-top: 8%;
}
.center {
  margin: 0 auto;
}
.right {
  float: right; 
  width: 90px;
  padding-top: 8%;
}

.refresh {
  background-image: url(../../images/refresh.png);
  height: 80px;
  width: 80px;
  background-color: transparent;
  border: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.previous {
  background-image: url(../../images/leftArrow.png);
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.next {
  background-image: url(../../images/rightArrow.png);
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.footer {
  display: inline-block;
  /* margin-top: 5%; */
  /* width: 50%; */
}